
<!--   Footer Section-->

<footer>
  <div class="container-fluid bg-dark" id="footer">
      <div>
        <h6>
          <a href="" class="link">suggest a place</a>
          <a href="" class="link">send a feedback</a>
        </h6>
      </div>

    <a href="https://www.linkedin.com/in/jeffrey-jeremiah-bb0909182/"><i class="socials fab fa-linkedin"></i></a>
    <a href="https://github.com/jeffreyjeremiah1"><i class="socials fab fa-github"></i></a>
    <a href="https://twitter.com/bossan_j"><i class="socials fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/jeffrey_jeremiah_/"><i class="socials fab fa-instagram"></i></a>
    <a href="https://twitter.com/bossan_j"><i class="socials fab fa-facebook"></i></a>
    <div>
      <h6>©LaptopFriendly</h6>
    </div>
  </div>
</footer>
</html>
